
.container.details-container {
  justify-content: center;
  align-items: center;
}

.product-image, .back-to-catalog {
  cursor: pointer;
}

.product-image-details {
  height: 250px;
  object-fit: contain;
}

.product-image-container {
  height: 200px;
}

.product-image {
  height: 200px;
  object-fit: contain;
}

.header {
  color: white;
  background-color: rgb(52, 58, 64);
};
