* {
  margin: 0;
}

body {
  /* font-family: 'Courier New', Courier, monospace; */
  background-image: url(./images/brick_wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: rgb(82, 65, 46);
}

.whiteFont {
  color: #ffffff;
}

.back-to-catalog, .order-total, .fa-shopping-cart, .cart  {
  color: rgb(82, 65, 46);
}

.white-background, .cart, .bottom-nav, .checkout-form, .container-bottom-nav, .product-list-item  {
  background-color: rgba(250, 250, 250, .9);
}

.container-bottom-nav, .container-no-bottom {
  justify-content: center;
  align-items: center;
}

.container-bottom-nav {
  height: 79vh;
}

.container-no-bottom {
  height: 90vh;
}

.container-bottom-nav, .container-no-bottom, .checkout-form, .cart {
  overflow: scroll;
}

.cart-items {
  border: 2px solid rgb(82, 65, 46);
  border-radius: 4px;
}

.checkout-field {
  margin-left: 0;
}

.red {
  color: red!important;
}

.product-list-item, .header-title, .btn, .back-to-catalog, .cart-items {
  cursor: pointer;
}

.back-to-catalog {
  font-size: 1rem;
  margin-top: 10px;
  margin-left: 20px;
  font-weight: bold;
}

.product-image-details {
  height: 250px;
  object-fit: contain;
}

.product-image-container {
  height: 200px;
}

.product-image {
  height: 200px;
  object-fit: contain;
}

.cart-image{
  max-width: 100%;
  height: 225px;
  object-fit: contain;
}

.order-total {
  font-size: 1.2rem;
}

.checkout-button {
  margin-right: 15px;
}

.navbar {
  background-color: rgba(82, 65, 46, .9);;
  /* background-color: rgba(250, 250, 250, .6); */
  height: 10vh;
  color: #ffffff;
  /* border-bottom: 4px solid #413425; */
}

.header-title {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.98rem;
  font-weight: bold;
}

.bottom-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 11vh;
  bottom: 0;
}

.consent-modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 50%;
  width: 50%;
  top: 25%;
  left: 25%;
  padding: 12px;
  background: white;
  z-index: 1;
  border: 4px solid #DD4447;
}

.modal-background {
  z-index: 1;
  background-color: rgba(0,0,0,0,.4);
}

@media screen and (max-width: 601px) {
  .header-title {
    font-size: 1.5rem;
  }
}

@media screen and (max-height: 620px) {
  .navbar {
    height: 15vh;
  }

  .container-bottom-nav {
  height: 74vh;
}

.container-no-bottom {
  height: 85vh;
}


}
