body {
  background-image: url(./images/white-brick.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.outermost-container, .cart-summary {
  margin-top: 54px !important;
  justify-content: center;
  align-items: center;
}

#productCard, .details-inner-container, .cart-items {
  background-color: rgba(250, 250, 250, .6);
  /* border: 3px solid #5e4b35; */
  border-radius: 4px;
}

.checkout-field {
  margin-left: 0;
}

.red {
  color: red!important;
}

.header-title, .btn, #productCard, .back-to-catalog, .cart-items {
  cursor: pointer;
}

.product-image-details {
  height: 250px;
  object-fit: contain;
}

.product-image-container {
  height: 200px;
}

.product-image {
  height: 200px;
  object-fit: contain;
}

.cart-image{
  max-width: 100%;
  height: 225px;
  object-fit: contain;
}

.order-total {
  color: #5e4b35;
  font-size: 1.2rem;
  margin: 0;
}

.navbar {
  position: fixed;
  background-image: url(./images/white-brick.jpg);
  background-position: center;
  background-repeat: repeat;
  border-bottom: 3px solid #5e4b35;
}

.header-title {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.75rem;
  font-weight: bold;
  color: #5e4b35;
}

.cart-summary {
  margin-bottom: 13vh;
}

.bottom-nav {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 13vh;
  width: 100vw;
/* background-color: rgb(250, 250, 250); */
  /* bottom: 0; */
  /* border-top: 2px solid #5e4b35; */
}

.consent-modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 50%;
  width: 50%;
  top: 25%;
  left: 25%;
  padding: 12px;
  background: white;
  z-index: 1;
}

.modal-background {
  z-index: 1;
  background-color: rgba(0,0,0,0,.4);
}
